/* Colour Palette */
/* --bg-primary: #121212;
--bg-secondary: #1E1E1E;
--text-primary: #E0E0E0;
--text-secondary: #A0A0A0;
--accent-color: #bb86fc;
--accent-hover: VAR(--APP-var(--app-secondary-color);--danger: #CF6679;
--border-color: #2D2D2D;
--completed-text: #616161; */
/* Colour Palette end */

/* Color and Themes */
:root {
  /* padding: 0; */
  /* margin: 0; */
  /* box-sizing: border-box; */
  /* Background colors for themes */

  /* For dark theme */
  --bg-dark-primary-color: #121212;
  --bg-dark-secondary-color: #1e1e1e;
  --bg-dark-tertiary-color: #2d2d2d;

  /* For light theme */
  --bg-light-primary-color: #fff;
  --bg-light-secondary-color: #f5f5f5;
  --bg-light-tertiary-color: #eaeaea;

  /* Text colors */

  /* For dark theme */
  --text-dark-primary-color: #e0e0e0;
  --text-dark-secondary-color: #a0a0a0;

  /* For light theme */
  --text-light-primary-color: #1c1c1c;
  --text-light-secondary-color: #4f4f4f;

  /* Application */

  /* For Dark theme */
  --dark-primary-color: #bb86fc;
  --dark-secondary-color: #9e65f5;
  --dark-tertiary-color: #a874ff;

  /* For Light theme */
  --light-primary-color: #00b8d4;
  --light-secondary-color: #0097a7;
  --light-tertiary-color: #00a0b0;

  /* Status Indication */

  /* For dark */
  --dark-success-notification: #00ff7f;
  --dark-failure-notification: #ff4500;
  /* For light */
  --light-success-notification: rgb(0, 255, 0);
  --light-failure-notification: #ff7f7f;

  --bg-primary-color: var(--bg-dark-primary-color);
  --bg-secondary-color: var(--bg-dark-secondary-color);
  --bg-tertiary-color: var(--bg-dark-tertiary-color);

  --text-primary-color: var(--text-dark-primary-color);
  --text-secondary-color: var(--text-dark-secondary-color);

  --app-primary-color: var(--dark-primary-color);
  --app-secondary-color: var(--dark-secondary-color);
  --app-tertiary-color: var(--dark-tertiary-color);

  /* Misc */
  --add-button: black;
  --check-button: white;
  --status-success-indication: var(--dark-success-notification);
  --status-failure-indication: var(--dark-failure-notification);
}

.light {
  --bg-primary-color: var(--bg-light-primary-color);
  --bg-secondary-color: var(--bg-light-secondary-color);
  --bg-tertiary-color: var(--bg-light-tertiary-color);

  --text-primary-color: var(--text-light-primary-color);
  --text-secondary-color: var(--text-light-secondary-color);

  --app-primary-color: var(--light-primary-color);
  --app-secondary-color: var(--light-secondary-color);
  --app-tertiary-color: var(--light-tertiary-color);

  /* Misc */
  --add-button: white;
  --check-button: black;
  --status-success-indication: var(--light-success-notification);
  --status-failure-indication: var(--light-failure-notification);
}

/* Root level styling */
body {
  box-sizing: border-box;
}

.text-custom-color {
  color: rgb(31, 103, 161);
}

.bg-custom-primary-color {
  background-color: var(--bg-primary-color);
}

.text-custom-heading-color {
  color: var(--app-primary-color);
}

.bg-custom-secondary-color {
  background-color: var(--bg-secondary-color);
}

.text-custom-primary-color {
  color: var(--text-primary-color);
}

.text-custom-secondary-color {
  color: var(--text-secondary-color);
}

.btn-custom-color {
  color: var(--app-primary-color);
}

.btn-custom-hover-color {
  color: var(--app-secondary-color);
}
/* Root level Styling ends */

/* Container Styling */
.Container {
  min-height: 100vh;
}
/* Container Styling ends */

/* Header Styling (TodoHeading.jsx)*/
.HeaderContainer {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  /* background-color: red; */
  /* display: relative; */
}

.HeaderHeading {
  flex: 99%;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  /* background-color: pink; */
}

/* .HeaderLogoutButton {
  flex: 1%;
  color: var(--text-secondary-color);
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  transform: scale(1);
} */

.dropdown {
  /* height: 50px; */
  /* width: 50px; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.dropdown-button {
  color: var(--text-primary-color);
  cursor: pointer;
}

.dropdown-list-item {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--bg-secondary-color);
  color: var(--text-primary-color);
  border: 2px solid var(--text-secondary-color);
}

.dropdown-list-item:hover {
  background-color: var(--bg-primary-color);
  color: var(--text-secondary-color);
}

.dropdown-list {
  display: none;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 16px;
  display: none;
}

.active {
  display: flex;
}

/* Header Styling ends */

/* General Styling ? */
input:focus {
  border: 2px solid var(--app-secondary-color);
  outline: none;
}
/* General Styling ends */

/* Add & Toggle Styling (AddTodo.jsx) */
.add-todo {
  width: 50%;
  gap: 0.5rem;
}

.addtask-input {
  display: inline;
  flex: 1;
  border: 1px solid #a0a0a0;
  color: var(--text-primary-color);
}

.addtask-input::placeholder {
  color: var(--text-secondary-color);
}

.add-todo button:hover {
  background-color: var(--app-secondary-color);
  /* come back here for colors */
}

.add-todo button:active {
  background-color: var(--app-tertiary-color);
  /* come back here for colors */
}

.add-todo button {
  background-color: var(--app-primary-color);
  border-radius: 8px;
  padding: 0.5rem;
  outline: none;
  border: none;
  transition: background-color 0.3s ease;
  /* color: var(--text-primary-color); */
  /* color: white; */
  color: var(--add-button);
}

/* Todo Display Toggle Button Styling */

.todoDisplayToggleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-top: 10px;
  width: 50%;
}

#todoDisplayToggle {
  display: none;
}

.todoDisplayToggleButton {
  width: 40px;
  height: 20px;
  background-color: var(--bg-tertiary-color);
  /* background-color: #eee; */
  /* come back here for colors */
  border: 1px solid var(--app-primary-color);
  position: relative;
  border-radius: 200px;
  transition: all 0.3s;
}

.todoDisplayToggleButton::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  margin: 2px;
  background-color: var(--app-primary-color);
  border-radius: 200px;
  transition: all 0.3s;
}

#todoDisplayToggle:checked + .todoDisplayToggleButton {
  background-color: var(--app-primary-color);
  border: 1px solid #a0a0a0;
}

#todoDisplayToggle:checked + .todoDisplayToggleButton::before {
  background-color: var(--bg-tertiary-color);
  /* come back here for colors */
  transform: translateX(20px);
}

.todoDisplayToggleInstruction {
  color: var(--text-secondary-color);
  font-size: 12px;
}
/* Todo Display Toggle Button Styling ends */
/* Add & Toggle Styling ends (AddTodo.jsx) */

/* Todo Listing Styling (ListTodos.jsx)  */

.list-todos {
  width: 50%;
  /* background-color: red; */
}

.list-todos li {
  list-style: none;
}

.todo-task {
  align-items: center;
  border-radius: 8px;
}

/* Provides a pointer effect when hovered over edit or delete button */
.todo-task .editTask,
.todo-task .deleteTask {
  cursor: pointer;
}

/* Check animation when the todo is marked isDone : true */
.isTodoCompletedLabel {
  border: 1px solid var(--check-button);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: 0.3s;
  overflow: hidden;
  margin: 5px;
}

.line {
  display: inline-block;
  background-color: #ffffff;
  /* come back here for colors */
  transition: 0.3s;
}

.line1 {
  width: 3px;
  height: 6px;
  transform: rotate(-45deg) translate(8px, -15px);
}

.isTodoCompleted:checked + .isTodoCompletedLabel .line1 {
  width: 2px;
  height: 6px;
  transform: rotate(-45deg) translate(6px, -3px);
}

.line2 {
  width: 10px;
  height: 2px;
  transform: rotate(-45deg) translate(20px, -7px);
}
.isTodoCompleted:checked + .isTodoCompletedLabel .line2 {
  width: 10px;
  height: 2px;
  transform: rotate(-45deg) translate(8px, -6px);
}

.isTodoCompleted:checked + .isTodoCompletedLabel {
  background-color: var(--app-tertiary-color);
  /* come back here for colors */
  border-color: var(--app-tertiary-color);
  /* come back here for colors */
}
/* Check animation when the todo is marked isDone : true  ends*/

/* will change the edit task fa button when hovered */
.todo-task .editTask:hover {
  color: #7f7f7f;
}

/* will change the delete task fa button when hovered */
.todo-task .deleteTask:hover {
  color: #7f7f7f;
}

/* when click on the check button this short animation is being applied  */
.isTodoCompleted:checked ~ .titleDisplaySpan {
  text-decoration: line-through;
}

.titleDisplaySpan {
  padding-bottom: 5px;
  transition: all 1.5s;
}

.titleDisplayInput {
  padding-bottom: 5px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: var(--bg-secondary-color);
  color: var(--text-primary-color);
  border: 1px solid #a0a0a0;
}
/* Todo Listing styling ends (ListTodos.jsx)  */

/* Login Styling (LoginForm.jsx) */

.LoginContainer {
  background-color: var(--bg-primary-color);
}

.LoginForm {
  background-color: var(--bg-secondary-color);
  height: 500px;
  width: 500px;
  margin-top: 55px;
  border-radius: 12px;
  padding: 2.5rem;
}

.LoginForm form {
  width: 100%;
}

.LoginFormHeading {
  color: var(--app-primary-color);
  text-align: center;
}

.LoginFormParagraph {
  color: var(--text-secondary-color);
  font-size: 17px;
  margin-bottom: 16px;
  text-align: center;
}

.InputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.InputGroup label {
  font-size: 14px;
}

.LoginForm form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.LoginForm .InputGroup input {
  background-color: var(--bg-primary-color) !important;
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--text-primary-color) !important;
  border: 1px solid #2d2d2d;
}

.LoginForm .InputGroup input:focus {
  background-color: var(--bg-primary-color) !important;
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--text-primary-color);
  border: 1px solid var(--app-primary-color) !important;
}

.LoginForm .InputGroup input:active {
  background-color: var(--bg-primary-color) !important;
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--text-primary-color);
  border: 1px solid var(--app-primary-color) !important;
}

/* Deepseek recommendation for autofill  -  Don't know but it magically works*/
.LoginForm .InputGroup input:-webkit-autofill,
.LoginForm .InputGroup input:-webkit-autofill:hover,
.LoginForm .InputGroup input:-webkit-autofill:focus,
.LoginForm .InputGroup input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-primary-color) inset !important;
  /* here to */
  -webkit-text-fill-color: var(--text-primary-color) !important;
  caret-color: var(--text-primary-color);
  border: 1px solid var(--app-primary-color) !important;
}

.LoginForm button {
  margin-top: 10px;
  background-color: var(--app-primary-color);
  border-radius: 8px;
  padding: 10px 16px;
  transition: 0.3s;
  color: var(--add-button);
}

.LoginForm button:hover {
  background-color: var(--app-secondary-color); /* come back here for colors */
}

.InputGroup label {
  color: var(--text-primary-color);
}

.divider {
  color: var(--text-secondary-color);
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.divider::before,
.divider::after {
  content: "";
  border-bottom: 1px solid #a0a0a0;
  flex: 1;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.footer {
  text-align: center;
  color: var(--text-secondary-color);
}

.SignupLink {
  text-decoration: none;
  color: var(--app-primary-color);
}

.SignupLink:hover {
  color: var(--app-secondary-color);
}
/* Login Styling ends (LoginForm.jsx) */

/* Signup Styling (SignupForm.jsx) */

.SignupContainer {
  background-color: var(--bg-primary-color);
  min-height: 100vh;
}

.SignupForm {
  height: 580px;
  width: 500px;
  background-color: var(--bg-secondary-color);
  margin-top: 55px;
  border-radius: 12px;
  padding: 2.5rem;
}

.SignupFormHeading {
  color: var(--app-primary-color);
  text-align: center;
}

.SignupFormParagraph {
  color: var(--text-secondary-color);
  text-align: center;
  font-size: 17px;
  margin-bottom: 16px;
}

.SignupForm form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.SignupForm label {
  color: var(--text-primary-color);
}

.SignupForm form input {
  background-color: var(--bg-primary-color);
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--text-primary-color);
  border: 1px solid #2d2d2d;
}

.SignupForm form button {
  margin-top: 10px;
  background-color: var(--app-primary-color);
  border-radius: 8px;
  padding: 10px 16px;
  transition: 0.3s;
  color: var(--add-button);
}

.SignupForm form button:hover {
  color: var(--app-secondary-color);
}

.SignupForm .footer {
  margin-top: 15px;
}

.SignupForm .footer span .LoginLink {
  text-decoration: none;
  color: var(--app-primary-color);
  transition: 0.3s;
}

.SignupForm .footer span .LoginLink:hover {
  color: var(--app-secondary-color);
}

.SignupForm .InputGroup input:active,
.SignupForm .InputGroup input:focus {
  border: 1px var(--app-secondary-color) solid;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.SignupForm .InputGroup input:-webkit-autofill,
.SignupForm .InputGroup input:-webkit-autofill:hover,
.SignupForm .InputGroup input:-webkit-autofill:focus,
.SignupForm .InputGroup input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-primary-color) inset !important;
  -webkit-text-fill-color: var(--text-primary-color) !important;
  caret-color: var(--text-primary-color);
  border: 1px solid var(--app-primary-color) !important;
}

.SignupForm .InputGroup .failureIndication:focus {
  border: 1px solid var(--status-failure-indication);
}

.SignupForm .InputGroup .successIndication:focus {
  border: 1px solid var(--status-success-indication);
}

/* Signup Styling ends (SignupForm.jsx) */

/* Change Password Styling starts */

.ChangePasswordContainer {
  /* background-color: red; */
  background-color: var(--bg-primary-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChangePassword {
  height: 480px;
  width: 500px;
  background-color: var(--bg-secondary-color);
  margin-top: 55px;
  border-radius: 12px;
  padding: 2.5rem;
}

.ChangePasswordHeading {
  color: var(--app-primary-color);
  text-align: center;
}

.ChangePasswordParagraph {
  color: var(--text-secondary-color);
  text-align: center;
  font-size: 17px;
  margin-bottom: 16px;
}

.ChangePassword form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ChangePassword label {
  color: var(--text-primary-color);
}

.ChangePassword form input {
  background-color: var(--bg-primary-color);
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--text-primary-color);
  border: 1px solid #2d2d2d;
}

.ChangePassword form button {
  margin-top: 10px;
  background-color: var(--app-primary-color);
  border-radius: 8px;
  padding: 10px 16px;
  transition: 0.3s;
  color: var(--add-button);
}

.ChangePassword form button:hover {
  color: var(--app-secondary-color);
}

.ChangePassword .footer {
  margin-top: 15px;
}

.ChangePassword .footer span .LoginLink {
  text-decoration: none;
  color: var(--app-primary-color);
  transition: 0.3s;
}

.ChangePassword .footer span .LoginLink:hover {
  color: var(--app-secondary-color);
}

.ChangePassword .InputGroup input:active,
.ChangePassword .InputGroup input:focus {
  border: 1px var(--app-secondary-color) solid;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.ChangePassword .InputGroup input:-webkit-autofill,
.ChangePassword .InputGroup input:-webkit-autofill:hover,
.ChangePassword .InputGroup input:-webkit-autofill:focus,
.ChangePassword .InputGroup input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-primary-color) inset !important;
  -webkit-text-fill-color: var(--text-primary-color) !important;
  caret-color: var(--text-primary-color);
  border: 1px solid var(--app-primary-color) !important;
}

.ChangePassword .InputGroup .failureIndication:focus {
  border: 1px solid var(--status-failure-indication);
}

.ChangePassword .InputGroup .successIndication:focus {
  border: 1px solid var(--status-success-indication);
}

/* Change Password Styling ends */

/* Authenticate Email Styling starts */
.AuthenticateEmailContainer {
  /* background-color: red; */
  background-color: var(--bg-primary-color);
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.AuthenticateEmail {
  height: 350px;
  width: 500px;
  background-color: var(--bg-secondary-color);
  margin-top: 55px;
  border-radius: 12px;
  padding: 2.5rem;
}

.AuthenticateEmailHeading {
  color: var(--app-primary-color);
  text-align: center;
}

.AuthenticateEmailParagraph {
  color: var(--text-secondary-color);
  text-align: center;
  font-size: 17px;
  margin-bottom: 16px;
}

.AuthenticateEmail form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.AuthenticateEmail label {
  color: var(--text-primary-color);
}

.AuthenticateEmail form input {
  background-color: var(--bg-primary-color);
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--text-primary-color);
  border: 1px solid #2d2d2d;
}

.AuthenticateEmail form button {
  margin-top: 10px;
  background-color: var(--app-primary-color);
  border-radius: 8px;
  padding: 10px 16px;
  transition: 0.3s;
  color: var(--add-button);
}

.AuthenticateEmail form button:hover {
  color: var(--app-secondary-color);
}

.AuthenticateEmail .footer {
  margin-top: 15px;
}

.AuthenticateEmail .footer span .LoginLink {
  text-decoration: none;
  color: var(--app-primary-color);
  transition: 0.3s;
}

.AuthenticateEmail .footer span .LoginLink:hover {
  color: var(--app-secondary-color);
}

.AuthenticateEmail .InputGroup input:active,
.AuthenticateEmail .InputGroup input:focus {
  border: 1px var(--app-secondary-color) solid;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.AuthenticateEmail .InputGroup input:-webkit-autofill,
.AuthenticateEmail .InputGroup input:-webkit-autofill:hover,
.AuthenticateEmail .InputGroup input:-webkit-autofill:focus,
.AuthenticateEmail .InputGroup input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-primary-color) inset !important;
  -webkit-text-fill-color: var(--text-primary-color) !important;
  caret-color: var(--text-primary-color);
  border: 1px solid var(--app-primary-color) !important;
}

.AuthenticateEmail .InputGroup .failureIndication:focus {
  border: 1px solid var(--status-failure-indication);
}

.AuthenticateEmail .InputGroup .successIndication:focus {
  border: 1px solid var(--status-success-indication);
}

/* Authenticate Email Styling ends */

/* Categories Styling Starts */
/* 
.Categories-Container {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 10px;
}

.category {
  background-color: blue;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: var(--bg-dark-secondary-color);
  color: var(--text-dark-secondary-color);
  border: 1px solid var(--text-dark-secondary-color);
} */

.Categories-Container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  /* background-color: red; */
  width: 50%;
}

.category-box {
  flex: 1 1 calc(25% - 12px); /* Up to 4 in a row */
  min-width: 180px;
  max-width: 50%;
  /* background-color: red; */
  padding: 5px 15px;
  border: 1px solid var(--text-primary-color);
  border-radius: 50px;
  background-color: var(--bg-secondary-color);
  color: var(--text-primary-color);
  font-size: 14px;
  box-sizing: border-box;
  word-break: break-word; /* Allows long text to wrap */
  cursor: pointer;
}

.active-category {
  background-color: var(--app-secondary-color);
  color: var(--bg-primary-color);
  border-color: var(--app-secondary-color);
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

/* Categories Styling Ends */
